# Translations
po/da.po @mgeisler @voss
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid
po/fr.po @sakex @lb034582341
po/it.po @detro @nicomazz @bznein
po/ko.po @jiyongp @jooyunghan
po/pt-BR.po @rastringer @hugojacob
