# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    reviewers:
      - djmitche
      - mgeisler
      - qwandor
    commit-message:
      prefix: cargo
    groups:
      minor:
        update-types:
          - minor
      patch:
        update-types:
          - patch
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    reviewers:
      - djmitche
      - mgeisler
      - qwandor
