.content details {
  background: var(--sidebar-bg);
  color: var(--sidebar-fg) !important;
  border-radius: 0.25em;
  padding: 0.25em;
}

.content details summary h4 {
  display: inline-block;
  list-style: none;
  font-weight: normal;
  font-style: italic;
  margin: 0.5em 0.25em;
  cursor: pointer;
}

.content details summary h4:target::before {
  margin-left: -40px;
  width: 40px;
}

.content details summary a {
  margin-left: 0.5em;
}
