name: Install mdbook and dependencies

description: Install mdbook with the dependencies we need.

runs:
  using: composite
  steps:
    # The --locked flag is important for reproducible builds. It also
    # avoids breakage due to skews between mdbook and mdbook-svgbob.
    - name: Install mdbook
      run: cargo install mdbook --locked --version 0.4.36
      shell: bash

    - name: Install mdbook-svgbob
      run: cargo install mdbook-svgbob --locked --version 0.2.1
      shell: bash

    - name: Install mdbook-i18n-helpers
      run: cargo install mdbook-i18n-helpers --locked --version 0.3.1
      shell: bash

    - name: Install mdbook-exerciser
      run: cargo install --path mdbook-exerciser --locked
      shell: bash

    - name: Install mdbook-course
      run: cargo install --path mdbook-course --locked
      shell: bash
