{% import "macros.html" as macros %}
{% set current_language = ctx.config.book.language %}
<button id="language-toggle" class="icon-button" type="button"
    title="Change language" aria-label="Change language"
    aria-haspopup="true" aria-expanded="false"
    aria-controls="language-list">
    <i class="fa fa-globe"></i>
</button> 
<ul id="language-list" class="theme-popup" aria-label="Languages"
    role="menu" style="left: auto; right: 10px; display: none;">
    {% for identifier, language_name in ctx.config.output.i18n.languages %}
    <li role="none">
        <a id="{{ identifier }}"
            href="{{ macros::get_rendered_path(identifier=identifier) }}"
            style="color: inherit;">
            <button role="menuitem" class="theme {% if identifier == current_language %} theme-selected {% endif %}">
                {{ language_name }}
            </button>
        </a> 
    </li>
    {% endfor %}
</ul>
 
<script>
    let langToggle = document.getElementById("language-toggle");
    let langList = document.getElementById("language-list");
    {% raw %} 
    langToggle.addEventListener("click", (event) => {
        langList.style.display = langList.style.display == "block" ? "none" : "block";
    });
    {% endraw %}
</script>


<style>
    [dir=rtl] #language-list {% raw %} {
        left: 10px;
        right: auto;
    }
    {% endraw %}
</style>
