name: "Course Schedule Updates"
on:
  - pull_request

jobs:
  course-schedule:
    runs-on: ubuntu-latest
    name: Make Course Schedule Comment
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust cache
        uses: ./.github/workflows/setup-rust-cache

      - name: Generate Schedule
        run: cargo run -p mdbook-course --bin course-schedule > course-schedule.md

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          filePath: course-schedule.md
          comment_tag: course-schedule
